@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap");

body {
    background-color: black;
    color: green;
    font-family: "Inconsolata", monospace;
    font-size: 8rem;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 600px) {
    body {
        font-size: 4rem;
    }
}
