* {
  margin: 0;
  padding: 0;
}
.blog-post {
  width: 35%;
  height: 300px;
  box-sizing: border-box;
  background-color: #b6b6b6;
  border: 5px solid rgb(128, 166, 197);
  border-radius: 5px;
  margin: 20px auto;
  padding: 20px;
}
.post-img-container {
  float: left;
}
.post-img {
  width: 250px;
}
.post-content {
  width: 50%;
  float: right;
  margin-top: 30px;
}
.post-title {
  font-size: 30px;
  font-weight: bold;
  color: #000;
}
.post-body {
  font-size: 20px;
  color: #000;
}
